.about-container{
    padding-left: 0;
    padding-right: 0;
}
.grouped-sections section{
    width: 100%;
    padding: 0rem 2rem;
}
.darkbg .article-text{
    color: var(--kamsa-text-on-dark);
}
.darkbg .lg-subheader{
    color: var(--kamsa-subheading-on-dark);
    
}

.contentSection{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* max-width: 1300px; */ /*2000*/
    padding: 3rem 0rem;
}
.contentSection .articles-text{
    max-width: 500px;
}
.contentSection .numbered-title{
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    padding-bottom: 0.75rem;
}

.contentSection .numbered-title .numbered-title-size{
    font-size: 18px;
}
.text-primary{
    color: var(--kamsa-color);
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.contentContainer p{
    padding-bottom: 1.5rem;
}



.whitebutton{
    background: #FFFFFF;
    color: var(--kamsa-color);
    display: flex;
    align-items: baseline;

    font-weight: 600;
    margin-left: 0;
    box-shadow: none;
    transition: all ease-in-out 300ms;
}

.whitebutton svg{
    transform: rotate(-22.5deg);
    transition: all ease-in-out 300ms;
}
.whitebutton:hover{
    color: var(--kamsa-color);
    align-items: center;
    box-shadow: inset 3px -3px 3px rgba(51, 51, 51, 0.35);
}
.whitebutton:hover svg{
    transform: rotate(0deg);
}
.whitebutton:active {
    box-shadow: inset 2px 2px 7px #333333;
}
.whitebutton:visited svg{
    visibility: hidden;
}












.firstSection{
    border: 0 0 1px 0 solid var(--kamsa-lightgray);
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
}










/*Second Section In About Us SECTIONS*/
.darkCards{
    padding: 2rem 0rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.contentSection .darkcard{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0.75rem 1rem;
width: 308px;
background: var(  --kamsa-darkestbg);
transition: all ease-in-out 300ms;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.58);
}
.contentSection .darkcard:hover{
    border: 1px solid var(--kamsa-white);
    box-shadow: none;
}
.contentSection .darkcard h3.article-text{
color: var(--kamsa-white);
margin-bottom: 1rem;
font-weight: 700;
}
.contentSection .dC1 h3
    {
        display: flex;
    }

.darkCards .dC1{
    margin-right: 1rem;
}
.darkCards .dC2{
    margin-left: 1rem;
}


.coverfloat{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    /* margin-left: 5rem; */
    /* margin-right: auto; */
    display: flex;
    justify-content: center;
    
}

.floatingdiv{
    margin-top: -2rem;
    display: flex;
    width: 80%;
    flex-direction: column;
    height: 200px;
    background: var(--kamsa-white);
    box-shadow: 0px 5px 51px rgba(51, 51, 51, 0.12);
    border-radius: 3px;
    transition: all ease-in-out 300ms;
    border: 1px solid var(--kamsa-white);
}
.floatingdiv:hover{
    border-color: var(--kamsa-color);
    box-shadow: none;
    border-radius: 0px;
}

.corediv:hover .marquee--inner{
    overflow-x: scroll; /* Enable horizontal scrolling */
}
.floatingdiv h3{
    
    color: var(--kamsa-color);
    width: -webkit-fill-available;
    padding: 1rem 1rem 0.5rem 1rem;
}

.orb {
    display: inline-block;
    margin: 0 1rem;
    /*float: left;*/
    transition: all .2s ease-out;
  }
  
  .orb:hover {
    transform: scale(0.9);
    opacity: .5;
    cursor: pointer;
  }
  
  
  .marquee {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
  }
  
  .marquee--inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200%;
    height: 100%;
    /* margin: 70px 0; */
    position: absolute;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* Set the scrollbar color */
    animation: marquee 20s linear infinite;
}
.marquee--inner::-webkit-scrollbar {
    width: 10px; /* Adjust the width as desired */
  }
  
  .marquee--inner::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb); /* Set the scrollbar thumb color */
  }
  .marquee--inner:hover {
    animation-play-state: paused;
  }
  
  /*.half {
    float: left;
    width: 10%;
  }*/
  
 .floatingdiv span {
    float: left;
    width: 50%;
    display: contents;
  }
 .floatingdiv span p{
    font-size: 4rem;
    font-weight: 800;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }





























.kamsa-container .whiteSection{
    background-color: var(--kamsa-white);
}
.kamsa-container .whiteSection .lg-subheader{
    max-width: 1000px;
}
.kamsa-container .whiteSection .lh{ 
        color: var(--kamsa-dark);
}
.kamsa-container .whiteSection .pt-4.lh{ 
        line-height: 160%; 
}
.kamsa-container .whiteSection.pt-8 .contentheader{
    
        margin-top: 7.5rem;
    
}







.kamsa-container .whiteSection .strategy-list {
    margin: 3rem 0rem 4rem 0rem;
    width: 100%;
    
}
.kamsa-container .whiteSection .strategy-list .active-red{
    text-align: left;
    width: 100%; /*webkit available is it*/
    font-weight: 700;
}
.kamsa-container .whiteSection .strategy-list li{
    align-items: flex-start;
    padding: 0.75rem;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    box-shadow: -3px 3px 6px rgba(51, 51, 51, 0.1);
    margin: 1rem;
    border: 1px solid #efecec;
}
.kamsa-container .whiteSection .strategy-list li:hover{
    box-shadow: none;
    border: 1px solid var(--kamsa-lightgray);

}
.kamsa-container .whiteSection .strategy-list li p{
    line-height: 140%;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.kamsa-container .strategy-container .lg-subheader {
    max-width: fit-content;
    text-align: center;
}

.kamsa-container .whiteSection .strategy svg{
    height: 50px;
    cursor: pointer;
}











.Team .contentSection .darkCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: -webkit-fill-available;
}

.Team .contentContainer {
    align-items: center;
}
.Team .contentSection .darkCards .e-team h5{
    color: var(--kamsa-bg);
    font-size: 90%;
    font-weight: 500;
    padding-top: 0.5rem;
    mix-blend-mode: unset;
}
.Team .contentSection .darkCards .darkcard{
    padding: 0;
    align-items: flex-end;
    width: 250px;
    height: 200px;
    justify-content: space-between;

}
.Team .contentContainer p {
    padding-bottom: 0.5rem;
    text-align: -webkit-center;
    width: 100%;
    }
.Team .darkcard svg{
    font-size: 3rem;
    border-radius: 0;
}
.Team .contentSection .bm{
width: 100%;
text-align: center;
padding-bottom: 0.5rem;
}
.Team .contentSection .bm:hover{
    border:none ;
    border-bottom: 1px solid var(--kamsa-white);
}
.teamicon{
    color:var(--kamsa-white)
}




/**/
.whitebutton.borderRed:hover {
    border: 0.2px solid var(--kamsa-color);
  }
.whitebutton.borderRed:active {
    border: none;
}
/**/













/*Experience*/
.Experience .contentSection .infographs .lg-subheader {
    font-size: 4rem;
    color: var(--kamsa-darkestbg);
}
.Experience .contentSection .infographs p {
    font-size: 80%;
    line-height: 120%;
    text-align: center;
    color: var(--kamsa-dark);
}
.Experience .contentSection .infographs div p br {
   display: block;
}
.Experience .contentSection .infographs div {
   margin: 0 3rem;
}
.Experience .contentSection .infographs  {
   width: 100%;
}
/*Experience*/












/*NewLetter*/
.newsletter-form{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
width: 100%;

}
.newsletter-form input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 44px;
    
    background: #FFFFFF;
    box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.29);
    border-radius: 6px 0px 0px 6px;
}
/* Styles for the input when typing */
.newsletter-form input:focus {
    outline: none;
    border: 1px solid var(--kamsa-dark);
  }
  /* Styles for the input when it's valid */
 .newsletter-form  input:valid {
    border: 1px solid green;
    box-shadow: none
  }
  /* Styles for the input when it's invalid */
 .newsletter-form  input:invalid {
    color: var(--kamsa-dark);
  }
.newsletter-form button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0.5rem 1.25rem;

width: auto;
height: 44px;

background: #1B1B1B;
color: var(--kamsa-text-on-dark);
font-size: 1rem;

box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.36);
border-radius: 0px 10px 10px 0px;
transition: all ease-in-out 300ms;
}
.newsletter-form button:hover{
    box-shadow:none;
    color: var(--kamsa-white);
}
.kamsa-container .NewsLetter .newshead{
    max-width: inherit;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}
.kamsa-container .NewsLetter h3.lg-subheader{
    font-size: 2rem;
}
.kamsa-container .NewsLetter .contentSection header.contentheader {
 
    visibility: hidden;
}
/*NewLetter*/