@media screen and (min-width: 1000px) {
    .article-text{
        font-size: 16px;
    }
    .whitebutton {
        min-width: 250px;
    }
    .view1000{
        display:none;
    }
    .kamsa-container .contentSection {
        padding-top: 5rem;
    }
    
    .paragraph-header{
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
      }
      .heading{
        font-size: 42px;
        line-height: 160%;
      }

      .logo{
        font-size: 1rem;
      }
      .banner svg{   
        margin-right: 0.5rem;
   }
   .custom-btn{
    width: 180px;
    padding: 0.65rem 1.5rem;
    font-size: 13px;
  }
  .services-section {
    align-items: flex-start;
    }
    .services-section aside {
         margin: 0rem 0rem; 
    }
        
}














@media screen and (min-width: 1200px) {
    .heading{
        font-size: 45px;
        line-height: 160%;
      }
      .whitebutton {
        min-width: 500px;
    }
      .extra-heading{
  
        font-size: 80px;
        padding: 0rem 4rem 5rem 4rem;
    }
    section .contentSection .numbered-title .numbered-title-size{
        font-size: 21px;
    }
      .quote{
        font-size: 14px;
        }
        .kamsa-container {
            width: 100vw;
            padding: 6rem 6rem 0rem 6rem;
        }
        .Link {
            padding: 0px 14px;
            font-size: 15px;
        }
        .navbar {
            padding: 0rem 0rem 0rem 2rem;
            height: fit-content;
        }
        .custom-btn {
            padding: 0.65rem 1.25rem;
            font-size: 14px;
            width: 200px;
            border-radius: 0px;
            box-shadow: inset 3px 2px 2px rgba(34, 35, 36, 0.77);
            color:var(--kamsa-lightgray);
            transition: all ease-in-out 300ms;
        }
        .custom-btn:hover {
            color:#ffffff;
        }
       .custom-btn svg{
            padding-right: 1rem;
            }
        .banner {
            padding: 0.65rem 0.75rem;
        }
        .header-link {
            font-size: 13px;
            margin: 0px 6px 0px 6px;
        }




        .contentSection .articles-text{
            max-width: 600px;
        }
        .contentSection .numbered-title{
            padding-bottom: 1rem;
        }
        .article-text{
            font-size: 18px;
            max-width: 670px;
        }
        .contentSection .darkCards .darkcard {
            padding: 0.75rem 1rem;
            width: 350px;
        
        }
        

        
}
@media screen and (min-width: 1500px) {
    .services-section aside {
        width: 50%;
    }
    .article-text{
        font-size: 20px;
        max-width: 720px;
    }
    .logo{
        font-size: 1.125rem;
      }
      .quote{
        font-size: 18px;
        }
        .services-article{
            display: flex;
            flex-direction: row;
        }
        .Link {
            padding: 0px 14px;
            font-size: 16px;
        }
        .custom-btn {
            font-size: 15px;
}
        .header-link {
            font-size: 14px;
            margin: 0px 6px 0px 6px;
        }
        .upfooter {
            justify-content: space-around;
        }
        .contentSection .articles-text{
            max-width: 850px;
        }
        .contentSection .numbered-title{
            padding-bottom: 1.5rem;
        }
        .extra-heading {
            font-size: 100px;
        }
        .contentSection .darkCards .darkcard {
            padding: 0.75rem 1rem;
            width: 400px;
        }
}
@media screen and (min-width: 1800px) {
    .services-section{
        justify-content: space-around;
      }
      .extra-heading {
        font-size: 130px;
    }
      section .contentSection .numbered-title .numbered-title-size{
        font-size: 24px;
    }
      .services-section aside {
        width: 70%;
    }
    .article-text{
        max-width: 90%; /*Services*/
        font-size: 21px;
    }
    .contentSection .article-text {
        max-width: 950px;
    }
    .heading{
        font-size: 48px;
      }
    .Link {
        padding: 0px 16px;
        font-size: 18px;

            font-weight: 500;
    }
    .custom-btn {
        font-size: 18px;
}
    .header-link {
        font-size: 16px;
        margin: 0px 6px 0px 6px;
    }

    .contentSection .articles-text{
        max-width: 1000px;
    }
    .extra-heading {
        /*padding: 5rem 7rem;*/
        padding: 2rem 7rem 5rem 7rem;
    }
}









/*Bless The Heaven Kind of Screens*/
@media screen and (min-width: 2000px) {
    .article-text{
        font-size: 24px;
    }
    .logo{
        font-size: 1.25rem;
      }
      .quote{
        font-size: 1.25rem
        }
        .custom-btn {
            font-size: 1.125rem;
            font-weight: 500;
}
        
}