@media screen and (max-width: 1000px) {
    .contentSection {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .kamsa-container .NewsLetter .contentSection header.contentheader {
        margin-top: 0;
        visibility: hidden;
   }
    .about-container .floatingdiv span p {
        font-size: 2rem;
        font-weight: 800;
        }
        .Team .contentSection ul.darkCards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: -webkit-fill-available;
        }
        .kamsa-container .NewsLetter .contentSection h3.lg-subheader{
            font-size: 1.5rem;
    }
        .Team .contentSection .darkCards li{
            margin: 2rem;
         }
  
    .none1000{
        display:none;
    }

    .contentSection header {
        text-align: center;
        padding: 2rem 0 0.5rem;
    }
    .contentSection header br{
        display: none;
    }
    .contentSection .contentContainer a,
    .contentSection .whitebutton {
        width: -webkit-fill-available;
        font-weight: 700;
        }
        .about-container .floatingdiv {
            height: 150px;
            }    
        .contentSection .lg-subheader {
            font-size: 36px;
        }
        .contentSection .numbered-title {
            line-height: 100%;
            padding-bottom: 0;
        }
        .Experience .contentheader div.infographs{
           
            width: 100%;
            margin-top: 1rem;
        }
        .Experience .contentheader div.infographs svg{
            font-size: 3rem;
            color: var(--kamsa-dark);
        }
        .Experience .contentSection .contentheader {
            width: 100%;
        }

}

@media screen and (max-width: 760px) {
    .sm-unseen{
        display: none;
    }
    .navbar .custom-btn{
        border-radius: 0px;
        padding: 0.85rem 1.5rem;
      }
}
@media screen and (max-width: 720px) {
    .contentSection .lg-subheader {
        font-size: 32px;
    }
    .Team .contentSection .darkCards li{
        margin: 1rem 1rem;
     }
     .Experience .contentheader div.infographs{
        flex-direction: column-reverse;

    }
     .Experience .contentSection .contentheader .infographs .lg-subheader {
        font-size: 3rem;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
     .Team .darkCards{
        padding-top: 0;
     }
    .about-container .floatingdiv {
        height: 150px;
        }
    .about-container .floatingdiv span p {
        font-size: 1.75rem;
        font-weight: 800;
        }
        .floatingdiv h3 {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            }
      
    .firstSection{
        border: 0 0 1px 0 solid var(--kamsa-lightgray);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
    }
    .secondSection .darkCards{
        flex-direction: column;
    }
    .secondSection .darkCards .dC1,
    .secondSection .darkCards .dC2{
        margin: 0;
    }
    .secondSection .darkCards .darkcard.dC1{
        margin-bottom: 0rem;
    }
    .secondSection.mission .darkCards .darkcard.dC1{
        margin-bottom: 1rem;
    }
    .secondSection.mission .darkCards .darkcard.dC2{
        margin-top: 1rem;
    }
    .secondSection .darkCards .darkcard.dC2{
        margin-top: 0rem;
    }
    .secondSection .darkCards .e-team{
        margin: 1rem 1rem;
    }
    .extra-heading{
        font-size: 60px;
        padding: 2rem 2rem 3rem 2rem;
    }
  
    .quote{
        font-size: 12px;
    }
    .contentSection .numbered-title{
        padding-bottom: 0.25rem;
    }
   
    .navbar ul  {
        flex-direction: column;
        align-items: baseline;
         background: rgb(247 247 247); 
        border: 1px solid rgb(232 232 232);
        position: absolute;
        

        top: -10rem;
        right: 0;
        z-index: -1;
        transition:   z-index 0.1s, top 500ms;

        border-radius: 0px 2px 2px 2px;
        padding: 0rem 0rem;
        height: 200px;
        width: 200px;
    } 
   
    .navbar ul li{
        width: 100%;
    }
    .navbar .Link {
        padding: 0.25rem 1.25rem;
        font-size: 14px;
        transition: all ease-in-out 300ms;
    }
    .navbar .Link:hover {
        background: rgb(236 234 234);
    }
    .navbar .Link:active {
        background: rgb(236 234 234);
        color: var(--kamsa-color);
    }
    .onlyMobile{
        display: block;
    }.nav-menu{
 
        margin-left: 1rem;
        font-size: 1.25rem;
      }
      .heading{
        font-size: 32px;
        padding-top: 1rem;
      }
      





      .services-section{
        flex-direction: column;
        margin-top: 1.5rem;
      }
      .services-section aside {
        width: -webkit-fill-available;
    }
    .services-articles{
        margin-top: 2rem;
        display: flex;
    flex-direction: column;
    margin-left: 0rem;
    align-items: center;
    width: -webkit-fill-available;
    }
    .article-text{
        max-width: 600px;
        font-size: 16.5px;
    }
.navbar ul.show{
    top: 4.9rem;
    z-index: 1;
    transition:   z-index 0.6s ease-in 0.1s, top 500ms;
  }
  .contentSection header {
    text-align: center;
    padding: 1rem 0 1.5rem 0rem;
}

}





















@media screen and (max-width: 612px) {
    .smx-unseen{
        display: none;
    }
    .banner-contacts {
        width: -webkit-fill-available;
    }
    .Team.Clients .contentSection .darkCards .darkcard {
        width: 500px;
    }
}
@media screen and (max-width: 600px) {
    .upfooter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        .upfooter .links ul li a {
            line-height: 140%;
        }
        .fistSection .contentSection header {
            text-align: center;
            padding: 2rem 0 1rem;
        }
        .Team .contentSection ul.darkCards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: -webkit-fill-available;
        }

        .upfooter .links {
            width: 100%;
            justify-content: space-between;
            }
            footer .contacts{
                width: 100%;
              }
              .upfooter .contacts ul{
                justify-content: flex-start;
                 }
           
                .upfooter .links ul {
                    margin: 1.5rem 0;
                }
                .extra-heading{
                    font-size: 55px;
                    padding: 2rem 2rem 3rem 2rem;
                }
              
            }
@media screen and (max-width: 565px) {
  
    .kamsa-container .NewsLetter .contentSection header.contentheader {
        margin-top: 0;
   }
    .kamsa-container .NewsLetter .contentSection form.newsletter-form {
        flex-direction: column;
   }
    .kamsa-container .NewsLetter .contentSection form.newsletter-form input {
        width: 100%;
   }
    .kamsa-container .NewsLetter .contentSection form.newsletter-form button{
        width: 100%;
        margin-top: 1rem;
        border-radius:3px;
   }
    .about-container .floatingdiv span p {
        font-size: 1.5rem;
        font-weight: 800;
        }
        .about-container .floatingdiv {
            height: 130px;
            }
           .floatingdiv .marquee--inner {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 200%;
                height: 100%;
                /* margin: 70px 0; */
                position: absolute;
                scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
                animation: marquee 7s linear infinite;
            }
            .about-container .whiteSection.pt-8 .contentSection .contentheader {
                margin-top: 5rem;
            }
            .kamsa-container .whiteSection .contentSection .pt-4.lh {
                text-align: center;
            }
            .kamsa-container .strategy-container .lg-subheader {
                font-size: 24px;
            }

.kamsa-container  .strategy-container .contentContainer .strategy-list {
    margin: 0rem 0rem 2rem 0rem;
    
}
.kamsa-container .whiteSection .strategy-list .strategy svg{
    height: 25px;
}
       
 
    .header-link svg{
        margin-right: 0.5rem;
    }
    .heading{
        font-size: 30px;
      }
      .article-text{
        font-size: 14.5px;
        line-height: 180%;
    }
    .custom-btn {
        padding: /*0.4r*/0.85rem 1.5rem;
        border-radius: 0;
        /* height: 100%; */
    }
    section .contentSection .numbered-title .numbered-title-size{
        font-size: 16px;
    }
    section .contentSection .numbered-title{
        font-size: 18px;
        padding: 0;
    }
   
}

/*Davids In The Details*/
@media screen and (max-width: 415px) {
    .smx-unseenb{
        display: none;
        
    }
    .about-container .floatingdiv {
        height: 120px;
        }
    .heading{
        font-size: 27px;
      }
      .extra-heading{
        font-size: 48px;
        padding: 2rem 2rem 3rem 2rem;
    }
    .contentSection .lg-subheader {
        font-size: 30px;
    }
      .about-container .floatingdiv span p {
        font-size: 1.25rem;
        font-weight: 800;
        }
}























/*Davids In The Details*/
@media screen and (max-width: 365px) {
    .smxx-unseen{
        display: none;
    }
    .banner-contacts {
        flex-direction: row-reverse;
    }
    .nav-menu{
        font-size: 1rem;
      }
      .extra-heading{
        font-size: 39px;
        padding: 2rem 2rem 3rem 2rem;
    }
      
      .heading{
        font-size: 24px;
      }
      .sm-unseen.reappear{
        display: block;
      }
    .upfooter .links ul li a {
        line-height: 120%;
    }
    footer.kamsa-container{
        display: flex;
        flex-direction: column;
    
        justify-content: center;
      }
      .upfooter .contacts ul{
        justify-content: space-between;
         }
         /*.footnotes_container {
            width: inherit;
        }*/
         .footnotes_container .Link{
            font-size: 12px;
        }
        .article-text{
            font-size: 13.5px;
        }
        .contentSection .lg-subheader{
            font-size: 25px;
          }
   

      
}
/*Davids In The Details*/
@media screen and (max-width: 328px) {
    .contentSection .lg-subheader{
        font-size: 24px;
      }
      .extra-heading{
        font-size: 36px;
        padding: 2rem 2rem 3rem 2rem;
    }  
    
    .article-text{
        font-size: 13.5px;
    }
}
@media screen and (max-width: 306px) {
    .header-link svg {
        margin-right: 0rem; 
    }
    .extra-heading{
        font-size: 30px;
        padding: 2rem 2rem 3rem 2rem;
    }
    footer.kamsa-container{
        align-items: center;
      }
      .upfooter .links {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .upfooter .links ul {
        margin: 0.75rem 0;
    }
    .contentSection .lg-subheader{
        font-size: 21px;
      }
      .article-text{
        font-size: 13px;
    }

    

}
@media screen and (max-width: 289px) {
      .sm-unseen.reappear{
        display: none;
      }
}
@media screen and (max-width: 250px) {
    .contentSection .lg-subheader{
        font-size: 16px;
      }
      .extra-heading{
        font-size: 24px;
    }
    .grouped-sections section{
        padding: 0 1rem;
        padding-bottom: 1rem;
  
    }
    .navbar ul  {
        width: -webkit-fill-available;
    } 
    .logo {
        font-size: 0.9rem;
        line-height: 120%;
    }
    .heading{
        font-size: 21px;
      }
      .article-text{
        font-size: 11px;
    }

}
@media screen and (max-width: 200px) {
    .banner svg{
        display: none;
    }
    .heading{
        font-size: 18px;
      }
      .article-text{
        font-size: 11px;
    }
      
}